* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: rgb(0, 0, 0);
}

h1 {
  text-align: center;
  margin: 2rem;
  color: white;
}

main {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: 1px solid rgb(232, 232, 232); */
  padding: 1rem;
  position: relative;
  border-radius: 5px;
  background-color: black;
}

.picture-container {
  height: 20rem;
  margin: .7rem .5rem;
  border-radius: 5px; 
}

.picture {
  width: 15rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 5px;
}

.picture-container::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000 100%);
  margin-top: -3.2rem;
  height: 3rem;
  width: 100%;
  content: '';
  color: #4f4e4e;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.full-name {
  color: white;
  width: 15rem;
  height: 1.5rem;
  line-height: 1.5rem;
  margin-top: -2rem;
  z-index: 2;
  position: absolute;
  text-align: center;
  overflow: hidden;
}

.modal {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  overflow: auto;
  background-color: rgb(62, 61, 61, .9);
  transition: width .1s ease-in-out .1s;
  color: white;
}

.modal.active {
  width: 100%;
}

.details-container {
  background-color: rgba(255, 255, 255, 0.447);
  transition: background-color .2s ease-in-out .2s;
  width: 80%;
  height: 100%;
  margin: 0 10%;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  overflow: unset;
  color: black;
  justify-content: space-between;
}

.details-container.active {
  background-color: rgb(255, 255, 255, .9);
}

.modal-name {
  font-size: 2rem;
  width: 100%;
  padding: 0 1rem 1rem;
  text-align: center;
}

.modal-picture {
  width: 35%;
  height: 80%;
  object-fit: cover;
  border-radius: 5px;
  padding: 1rem;
}

.modal-text {
  width: 65%;
  padding: 1rem;
  padding-left: 0;
  height: 80%;
}

.detail {
  margin: 0 auto 1.5rem;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
  line-height: 1rem;
  height: fit-content;
}

.content {
  text-align: left;
  width: 55%;
}

.detail:last-child{
  margin: 0;
}

.titles {
  text-align: left;
  color: gray;
  width: 37%;
}

.navigationButton {
  width: 6rem;
  height: 2rem;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #4f4e4e;
  color: white;
  display: flex;
  justify-content: space-around;
}