*{
  box-sizing: border-box;
}

main {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid black;
  padding: 1rem;
  position: relative;
}

img {
  width: 15rem;
  height: 25rem;
  object-fit: cover;
  margin: 1rem 0;
}

#modal {
  display: none;
  position: fixed;
  z-index: 4;
  padding: 1rem;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  overflow: auto;
  background-color: rgb(62, 61, 61, .9);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#details {
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.detail {
  margin: 0 auto 1rem;
  width: 100%;
  /* border: 1px solid black; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1rem;
}

#fullName{
  font-size: 2rem;
}

#titles {
  color: gray;
}

#title, #nationality{
  width: 49%;
}

#title {
  padding-left: 30%;
}

#nationality {
  padding-right: 30%;
}



